*{
    background-color: rgb(159, 159, 203) ;
}
#Dhani {
    background-color: aquamarine;
}

#Dhaani{ 
   background-color: orange;
}

.nname{
    background: green;
}

#prince{
    background: yellowgreen;
}